@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --backgroundColor1: #101010;
    --highlightedText: #FAC421;
    --taskTitleColor: #888;
    --buttonColor: #ffd455;
    --buttonColorHover: #FAC421;
    --buttonDeleteColor: #680000;
    --buttonDeleteHover: #b60101;

    --mainTypeface: Arial, Verdana, Helvetica, sans-serif;
    --highlightedTypeFace: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background-color: var(--backgroundColor1);
}

header {
    color: var(--highlightedText);

    font-family: var(--highlightedTypeFace);
}

main {
    background-color: white;

    font-family: var(--mainTypeface);

    padding: 20px 40px;
    margin: 20px;
    border-radius: 15px;
}

section.input-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

input#newTask-txt {
    border: 3px solid black;
    border-radius: 5px;
    
    flex: 1 0;
    max-width: 50%;

    padding: 5px 0px;
}

button#addTask {
    border: 1px solid black;
    background-color: var(--buttonColor);
    color: var(--buttonText);

    border-radius: 5px;
    padding: 5px;
    margin-left: 5px;

    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
}

button#addTask:hover {
    background-color: var(--buttonColorHover);
    transform: translateY(-2px);
}

button#addTask:active {
    transform: translateY(0px);
}

section > h2 {
    margin: 10px 0px;

    color: var(--taskTitleColor);

    letter-spacing: 1px;
    font-size: 1em;
    text-align: center;
}

ul#task-list {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    max-height: 70dvh;
}

span.task-text {
    margin: 0px 5px;
    font-size: 1.2em;
}

input.task-checkbox {
    
}

.delete-button {
    background-color: transparent;
    border: none;
    margin: 0px 8px;
    color: var(--buttonDeleteColor);
    font-size: 1.1em;
    cursor: pointer;
}

.delete-button:hover {
    color: var(--buttonDeleteHover);
    transform: translateY(-2px);
}

.delete-button:active {
    transform: translateY(0px);
}

footer {
    color: white;
    font-family: var(--highlightedTypeFace);
}

footer > p > a {
    text-decoration: none;
    font-weight: bolder;
    color: white;
}

footer > p > a:hover {
    text-decoration: underline;
    color: var(--highlightedText);
}