@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Variables for the site */
:root {
    --backgroundColor1: #101010;
    --highlightedText: #FAC421;
    --taskTitleColor: #888;
    --buttonColor: #ffd455;
    --buttonColorHover: #FAC421;
    --buttonDeleteColor: #680000;
    --buttonDeleteHover: #b60101;
    --buttonDoneColor: #A9A9A9;
    --buttonDoneHover: #AFE1AF;
    --buttonDoneColorPressed: #32CD32;

    --mainTypeface: Arial, Verdana, Helvetica, sans-serif;
    --highlightedTypeFace: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background-color: var(--backgroundColor1);
}

header {
    color: var(--highlightedText);

    font-family: var(--highlightedTypeFace);
}

main {
    background-color: white;

    font-family: var(--mainTypeface);

    padding: 20px 40px;
    margin: 20px;
    border-radius: 15px;
}
/* Input Section */
section.input-section {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* The input will grow when more tasks were added*/
input#newTask-txt {
    border: 3px solid black;
    border-radius: 5px;
    
    flex: 1 0;
    max-width: 50%;

    padding: 5px 0px;
}

button#addTask {
    border: 1px solid black;
    background-color: var(--buttonColor);
    color: var(--buttonText);

    border-radius: 5px;
    padding: 5px;
    margin-left: 5px;

    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
}

button#addTask:hover {
    background-color: var(--buttonColorHover);
    transform: translateY(-2px);
}

button#addTask:active {
    transform: translateY(0px);
}
/* Output Section */
section > h2 {
    margin: 10px 0px;

    color: var(--taskTitleColor);

    letter-spacing: 1px;
    font-size: 1em;
    text-align: center;
}

ul#task-list {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    max-height: 70dvh;
}

span.task-text {
    position: relative;
    display: inline-block;

    margin: 0px 5px;
    font-size: 1.2em;

    transition: 0.5s ease;
}
/* Line-through draw effect left to right */
span.task-text::before {
    content: '';
    position: absolute;
    top: 50%; /* Position in the middle of the text */
    left: 0;
    width: 0; /* Start with zero width */
    height: 2px; /* Set the line thickness */
    background-color: var(--buttonDoneColor); /* Set the line color */
    transition: width 0.5s ease; 
}
/* When the task is done, js will create a class that will cross out the task. */
span.task-text.crossed::before {
    width: 100%;
}

span.done-icon {
    margin-left: 5px;
}
/* Here, the checkbox is replaced for an icon */
label.tasks-added > input.task-checkbox {
    display: none;
}

label.tasks-added > span.done-icon {
    display: inline-block;
    cursor: pointer;
    color: var(--buttonDoneColor);

    transition: 0.2s ease;
}

label.tasks-added > span.done-icon:hover {
    color: var(--buttonDoneHover);
    transform: translateY(-2px);
}

label.tasks-added > span.done-icon:active {
    color: var(--buttonDoneColorPressed);
    transform: translateY(0px);
}

label.tasks-added > input.task-checkbox:checked + span.done-icon {
    color: var(--buttonDoneColorPressed);
}
/* Unlike the correct icon, delete is already a button, then is easier to maneuver */
.delete-button {
    background-color: transparent;
    border: none;
    margin: 0px 8px;
    color: var(--buttonDeleteColor);
    font-size: 1.1em;
    cursor: pointer;

    transition: 0.2s ease;
}

.delete-button:hover {
    color: var(--buttonDeleteHover);
    transform: translateY(-2px);
}

.delete-button:active {
    transform: translateY(0px);
}
/* Footer section */
footer {
    color: white;
    font-family: var(--highlightedTypeFace);
}

footer > p > a {
    text-decoration: none;
    font-weight: bolder;
    color: white;
}

footer > p > a:hover {
    text-decoration: underline;
    color: var(--highlightedText);
}