@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --UIBackground: #ffffff;
    --timerBackground: #ffffff;

    --focusButtonTextColor: #ffffff;
    --focusButtonColor: #101010 0%, #6E3232 35%, #C42727 100%;
    /* --shortbreakButtonColor: ;
    --longbreakButtonColor: ; */

    --mainFontColor: #000000;
    --asideFontColor: #ffffff;
    --mainTypeFace: Arial, Verdana, Helvetica, sans-serif;
    --highlightedTypeFacea: "Michroma", sans-serif;
    --asideTypeFace: 'Courier New', Courier, monospace;
}

/* Property for background gradient colors */
@property --background-color-one {
    syntax: '<color>';
    initial-value: #101010;
    inherits: false;
}

@property --background-color-two {
    syntax: '<color>';
    initial-value: #6E3232;
    inherits: false;
}

@property --background-color-three {
    syntax: '<color>';
    initial-value: #C42727;
    inherits: false;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100dvh;

    background-image: linear-gradient(to top, var(--background-color-one) 0%, var(--background-color-two) 35%, var(--background-color-three) 100%);
}

header {
    margin: 1% 0%;
    font-family: var(--highlightedTypeFacea);
    color: var(--asideFontColor);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8em;

    padding: 15px;
    height: 70dvh;
    width: 60dvw;

    border-radius: 10px;

    background-color: var(--timerBackground);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.264);

    font-family: var(--mainTypeFace);
    color: var(--mainFontColor);
}

#timerTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#timerTitle h2 {
    margin-left: auto;
    margin-right: auto;
    font-size: 3em;
}

#buttonSettings {
    align-self: first baseline;
    background-color: transparent;
    border: none;
    font-size: 1.4em;
    cursor: pointer;

    transition: transform 1s ease;
}

#buttonSettings:hover {
    transform: rotate(180deg);
}

#theTimer {
    font-size: 4em;
}

#sectionBreakController {
    display: flex;
    gap: 4em;
    justify-content: space-between;
    width: 80%;
    height: 4em;
}

/* Properties for button gradient's animation */
@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 310deg;
    inherits: false;
}

.button {
    flex: 1; /* All butttons will have same width*/
    padding: 5px;
    background-image: linear-gradient(var(--gradient-angle), var(--focusButtonColor)); /* var for angle and var for color*/

    color: var(--focusButtonTextColor);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.214);
    border: 1px solid black;
    border-radius: 5px;

    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;

    transition: --gradient-angle 0.5s ease, transform 0.5s ease;
}

.button:hover {
    transform: scale(1.05);
    --gradient-angle: 130deg;
}

footer {
    margin: 1% 0%;

    color: var(--asideFontColor);
    font-family: var(--asideTypeFace);
}

footer a {
    color: var(--asideFontColor);
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}