* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    color: white;
    text-align: center;
    padding: 20px;
}

body {
    display: flex;
    flex-flow: column wrap;
    justify-content: center; 
    align-items: center;     
    min-height: 90vh;       
    margin: 0;

    gap: 10px;

    max-width: 1024px;

    background-color: #82b0ff;
    font: normal 15pt Arial;
    margin: auto;
}

section.button {
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.342);
    border-radius: 10px;
    padding: 15px;
    margin: 0px 15px;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;

    height: 50vh;
    width: 50vw;
}

button{
    background-color: #FFD782;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.318);

    border-radius: 10px;
    padding: 40px;

}

button:hover {
    cursor: pointer;
    background-color: #fdc959;
}

button:active {
    background-color: #d5aa4d;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.318);
}

#increase-btn {
    width: 60%;
    height: 20%;
    
}

#reset-btn {
    width: 30%;
    height: 10%;
}

section.output {
    text-align: center;
    margin-top: 50px;
}

p, div {
    display: inline;
}

